<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Judul Halaman -->
	<title>KFC Chatbot</title>
	<meta charset="utf-8">
	<meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<!-- Icon -->
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
	
	<!-- CSS -->
	<link rel="stylesheet" href={{ url_for('static', filename='/css/bootstrap.min.css') }} type="text/css">
	<link rel="stylesheet" href={{ url_for('static', filename='/css/client_side.css') }}  type="text/css">
	
	<!-- JavaScript -->
	<script src={{ url_for('static', filename='/js/jquery_3.6.0.min.js') }} ></script>
	<script src={{ url_for('static', filename='/js/bootstrap_3.4.1.min.js') }} ></script>
</head>

<body id="halamanku" data-spy="scroll" data-target=".navbar" data-offset="60">

	<!-- Navigation Bar -->
	<nav class="navbar navbar-default navbar-fixed-top" style="background-color:#FFCC00;z-index: 0;">
		<div class="container">
			
			<!-- Logo -->
			<div class="navbar-header">
				<img src={{ url_for('static', filename='/images/pngegg.png') }} alt="KFC Logo" 
				width="50" height="50" align="left">
				<a class="navbar-brand" href="#halamanku">&#160; KFC</a>
			</div>
			
			<!-- Daftar Halaman -->
			<div class="collapse navbar-collapse" id="myNavbar">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="#informasi">INFORMASI</a></li>
					<li><a href="#anggotaKelompok">ANGGOTA KELOMPOK</a></li>
				</ul>
			</div>
		</div>
	</nav>

	<!-- Bagian Halaman (Informasi) -->
	<div id="informasi" class="container-fluid">
		<br>
		<br>
		<div class="row">
			<div class="col-sm-6">
				<!-- Deskripsi Aplikasi -->
				<h2>KFCBot</h2> 
				<h4>KFC Chatbot</h4><br>
				<p style="text-align: justify;text-justify: inter-word;">
					KFC kependekan dari Kentucky Fried Chicken adalah jaringan restoran cepat saji asal Amerika Serikat yang berkantor pusat di Louisville, Kentucky, yang berspesialisasi dalam membuat dan menjual ayam goreng dengan daging ayam sebagai bahan utamanya. 
          Aplikasi ini mampu merekomendasikan dan menjelaskan menu makanan dan mampu menjelaskan menu makanan yang terdapat di KFC. 
          Dengan adanya aplikasi ini, pengguna tidak perlu bingung dalam memilih menu makanan. 
				</p>
			    <br>

				<!-- Tombol Mulai -->
				<nav id="navgo" class="navbar" style="background-color:#fff;z-index: 0;">
					<ul class="nav nav-pills">
						<li class="nav-item">
							<a class="btn btn-default btn-lg" href="/chatbot" style="background-color:#DA291C">Mulai</a>

						</li>
					</ul>
				</nav>

			</div>
			<div class="col-sm-6">
				<br>
				<br>
				<!-- Gambar Deskripsi Aplikasi -->
				<img src={{ url_for('static', filename='/images/app-display.png') }} width="500" ></img>
			</div>
		</div>
	</div>

	<!-- Bagian Halaman (Anggota Kelompok) -->
	<div id="anggotaKelompok" class="container-fluid text-center">
		<br>
		<h2>ANGGOTA KELOMPOK</h2>
		<h4>Tim Rekayasa Perangkat Lunak</h4>
		<br>
		<div class="row slideanim">
			<div class="col-sm-6">
				<img src={{ url_for('static', filename='/images/zaky.jpeg') }} alt="Foto Mahasiswa" 
				width="150" height="150" align="top">
				<h4>Moh Dzaky Irhab</h4>
				<p>04219036/Sistem Informasi</p>
			</div>
			<div class="col-sm-6">
				<img src={{ url_for('static', filename='/images/rizky.jpeg') }} alt="Foto Mahasiswa" 
				width="150" height="150" align="top">
				<h4>Rizky Ramadhan Dimas Prasetya</h4>
				<p>04222020/Sistem Informasi</p>
			</div>
		</div>
	    <br>
	    <div class="row slideanim">
			<div class="col-sm-6">
				<img src={{ url_for('static', filename='/images/irsyad.jpeg') }} alt="Foto Mahasiswa" 
				width="150" height="150" align="top">
				<h4>Irsyadulloh Ramadhan B.N</h4>
				<p>04222007/Sistem Informasi</p>
			</div>
			<div class="col-sm-6">
        <br>
				<img src={{ url_for('static', filename='/images/yusron.jpeg') }} alt="Foto Mahasiswa" 
				width="150" height="150" align="top">
        <br><br>
				<h4>Yusron Rafif Rangga Izdihar Zaidan</h4>
				<p>04222037/Sistem Informasi</p>
			</div>
	    </div>
	</div>

	<!-- Footer -->
	<footer class="container-fluid text-center">
		<a href="#halamanku" title="To Top">
			<span class="glyphicon glyphicon-chevron-up"></span>
		</a>
		<p>Orbit Future Academy <br> <a href="https://orbitfutureacademy.id/">orbitfutureacademy.id</a></p>
	</footer>

	<!-- JavaScript untuk Animasi Scroll dan Prediksi Model -->
	<script  src={{ url_for('static', filename='/js/client_side.js') }}></script>

</body>
</html>
